<div class="flex align-center justify-between">
  <label for="menu-control">
    {% svg 'menu' %}
  </label>

  <strong> {{title}} </strong>

  <label for="toc-control">
    {% svg 'toc' %}
  </label>
</div>

