<ul class="book-theme"   x-data="theme">
  <li>配色</li>
  <li >

    <input type="checkbox" id="theme" class="toggle">
    <label for="theme" class="flex justify-between">
      <a  role="button" class="flex align-center">
        {% svg 'theme' %}

        <span x-text="themeName"></span>
      </a>
    </label>

    <ul>
      {% for theme in themes %}
        <li>
          <a href="#" @click="changeTheme('{{ theme.name }}','{{ theme.desc }}','{{ theme.type }}');setName();">
            {{ theme.desc }}
          </a>
        </li> 
      {% endfor %}

      
    </ul>
  </li>
</ul>