<div class="flex flex-wrap justify-between book-pagination">
  {% if tags.first != true %}
    {% if pagination.href.previous %}
    <a href="{{ pagination.previousPageHref | absoluteUrl }}" class="flex align-center float-left ">
      {% svg 'backward' %}
      <span>{{ pagination.page.previous.title }}</span>
    </a>
    {% endif %}
  {% endif %}
    
  {% if tags.last  != true  %}
    {% if pagination.href.next %}
    <a href="{{ pagination.nextPageHref | absoluteUrl }}" class="flex align-center float-right ">
      <span>{{ pagination.page.next.title }}</span>
      {% svg 'forward' %}
    </a>
    {% endif %}
  {% endif %}
</div>
