<div x-data="post_action" class="post_action flex flex-wrap justify-center">
    <div class="post_like" x-show="initLike('{{ post.id  }}')" data-postid="{{ post.id  }}" @click="like('{{ post.id  }}')">
        {% svg 'like', '0 0 26 26' %}
    </div>
</div>