<div class="toc-relitu">
  <strong>热力图</strong>
  <div class="relitu-container" id="relitu-container"></div>
  <div class="relitu-count">写写停停，博主已记录 <strong>{{ collections.posts | size}}</strong> 篇文章! </div>
</div>