---
permalink: 404/
---
{% layout "layouts/base" %}
{% block menu %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<style>
    .not-found {
      text-align: center;
    }
    .not-found h1 {
      margin: .25em 0 0 0;
      opacity: .25;
      font-size: 40vmin;
    }
  </style>

<main class="flex justify-center not-found">
    <div>
      <h1>404</h1>
      <h2>这个页面似乎迷失在时间隧道里了...</h2>
      <h3>
        <a href="{{ '' | absoluteUrl }}">回去首页</a>
      </h3>
    </div>
  </main>

{% endblock %}

{% block pagination %}{% endblock %}

{% block toc %}{% endblock %}