---
permalink: golink/
---
{% layout "layouts/base" %}

{% block menu %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}


<style>

</style>

<main class="flex justify-center align-center go-lilnk">
  <div class="markdown">
    <h2>即将离开 {{ site.title }} 前往</h2>
    <blockquote class="book-hint warning">
      <a  id="redirect-link"  target="_blank" href=""></a>
    </blockquote>
    <div class="btn-action flex flex-wrap justify-center">
      <a href="javascript:window.history.back()" class="book-btn info">
      返回博客
      </a>
      <a id="direct-link" href="" class="book-btn warning">
      点击跳转
      </a>
    </div>
  </div>
</main>


<script>
    const params = new URLSearchParams(window.location.search);
    const encodedTarget = params.get('target');
    const target = atob(encodedTarget); // 使用 atob 进行 Base64 解码

    if (target) { 

        const decodedTarget = decodeURIComponent(target);

        document.getElementById('direct-link').href = decodedTarget;
        document.getElementById('redirect-link').textContent = '' + decodedTarget; // 在新增的元素中显示原地址
        document.getElementById('redirect-link').href = decodedTarget;

    } else {
        const redirectMessageElement = document.getElementById('redirect-link');
        redirectMessageElement.textContent = '';
    }
</script>


{% endblock %}

{% block pagination %}{% endblock %}


{% block toc %}
{% endblock %}

{% block h-toc %}
{% endblock %}
