---
permalink: /map/index.html
---
{% for doc in collections.docs-all %}
{% if doc.slug == 'map' %}
{% assign page = doc %}
{% break %}
{% endif %}
{% endfor %}

{% layout "layouts/base" %}


{% block head %}{% include 'partials/head',title:post.title %}{% endblock %}

{% block header %}{% include 'partials/header',title:post.title %}{% endblock %}


{% block content %}
<article class="markdown book-article">
  <h1 class="book-title">
    {{ page.title }}
  </h1>

  {{ page.html }}
  <div id="map" class="footer-map"></div>
</article>
{% include "partials/post-action",post:page %}
{% endblock %}


{% block footer %}
{% comment %} {% include 'partials/footer',post:post %} {% endcomment %}
{% endblock %}

{% block comments %}
{% include 'partials/comment' %}
{% endblock %}


{% block toc %}
{% comment %} {% include 'partials/toc-tagloop' %} {% endcomment %}
{% endblock %}

{% block h-toc %}
{% comment %}
<aside class="hidden clearfix">
  {% include 'partials/toc-tagloop' %}
</aside>
{% endcomment %}
{% endblock %}